In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
worldEd = pd.read_csv("C:/Users/lien0/Downloads/Table-11-Education-SOWC2021-EN.csv")
worldEd.head(25)

,TABLE 11. EDUCATION,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Countries and areas,Equitable access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Out-of-school rate\n2013–2019 (R),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Literacy rate\n2019,NaN,NaN,NaN
3,NaN,One year before primary entry age,NaN,NaN,NaN,Primary education,NaN,NaN,NaN,Lower secondary education,...,NaN,NaN,Proportion of children at the end of lower sec...,NaN,NaN,NaN,Youth (15–24 years) literacy rate (%),NaN,NaN,NaN
4,NaN,Male,NaN,Female,NaN,Male,NaN,Female,NaN,Male,...,Math,NaN,Reading,NaN,Math,NaN,Male,NaN,Female,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,-,NaN,-,NaN,-,NaN,-,NaN,-,...,11,NaN,-,NaN,-,NaN,74,NaN,56,NaN
7,Albania,4,NaN,2,NaN,6,NaN,3,NaN,6,...,-,NaN,48,NaN,58,NaN,99,NaN,100,NaN
8,Algeria,-,NaN,-,NaN,-,NaN,-,NaN,-,...,-,NaN,21,NaN,19,NaN,98,NaN,97,NaN
9,Andorra,-,NaN,-,NaN,-,NaN,-,NaN,-,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
10,Angola,31,NaN,39,NaN,-,NaN,-,NaN,-,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
11,Anguilla,14,NaN,-,NaN,-,NaN,-,NaN,-,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
12,Antigua and Barbuda,14,NaN,4,NaN,4,NaN,1,NaN,1,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
13,Argentina,2,NaN,2,NaN,-,NaN,-,NaN,0,...,56,NaN,48,NaN,31,NaN,99,NaN,100,NaN
14,Armenia,52,NaN,50,NaN,9,NaN,9,NaN,11,...,55,NaN,-,NaN,50,NaN,-,NaN,-,NaN
15,Australia,13,NaN,14,NaN,0,NaN,0,NaN,2,...,64,NaN,80,NaN,78,NaN,-,NaN,-,NaN
16,Austria,0,NaN,0,NaN,0,NaN,0,NaN,1,...,-,NaN,76,NaN,79,NaN,-,NaN,-,NaN
17,Azerbaijan,32,NaN,19,NaN,10,NaN,7,NaN,0,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
18,Bahamas,-,NaN,-,NaN,-,NaN,-,NaN,23,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
19,Bahrain,31,NaN,28,NaN,2,NaN,3,NaN,7,...,-,NaN,-,NaN,39,NaN,100,NaN,99,NaN
20,Bangladesh,-,NaN,-,NaN,-,NaN,-,NaN,-,...,32,NaN,54,NaN,57,NaN,94,NaN,96,NaN
21,Barbados,6,NaN,10,NaN,1,NaN,2,NaN,7,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
22,Belarus,0,NaN,4,NaN,1,NaN,2,NaN,1,...,-,NaN,77,NaN,71,NaN,100,NaN,100,NaN
23,Belgium,3,NaN,2,NaN,1,NaN,0,NaN,1,...,-,NaN,79,NaN,80,NaN,-,NaN,-,NaN
24,Belize,18,NaN,16,NaN,1,NaN,1,NaN,9,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN

In [6]:
worldEd = worldEd.dropna(axis='columns', how = 'all')
worldEd = worldEd.dropna(axis='rows', how = 'all')
worldEd.head(25)

,TABLE 11. EDUCATION,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 25,Unnamed: 27,Unnamed: 29,Unnamed: 31,Unnamed: 33,Unnamed: 35,Unnamed: 37,Unnamed: 39,Unnamed: 41,Unnamed: 43
1,Countries and areas,Equitable access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Completion,...,NaN,NaN,Learning,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Out-of-school rate\n2013–2019 (R),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Completion rate\n2010–2019 (R),...,NaN,NaN,Learning outcomes\n2013–2019 (R),NaN,NaN,NaN,NaN,NaN,Literacy rate\n2019,NaN
3,NaN,One year before primary entry age,NaN,Primary education,NaN,Lower secondary education,NaN,Upper secondary education,NaN,Primary education,...,Upper secondary education,NaN,Proportion of children in grade 2 or 3 achievi...,NaN,Proportion of children at the end of primary a...,NaN,Proportion of children at the end of lower sec...,NaN,Youth (15–24 years) literacy rate (%),NaN
4,NaN,Male,Female,Male,Female,Male,Female,Male,Female,Male,...,Male,Female,Reading,Math,Reading,Math,Reading,Math,Male,Female
6,Afghanistan,-,-,-,-,-,-,44,69,67,...,32,14,22,25,13,11,-,-,74,56
7,Albania,4,2,6,3,6,1,21,15,94,...,76,80,-,-,-,-,48,58,99,100
8,Algeria,-,-,-,-,-,-,-,-,93,...,22,37,-,-,-,-,21,19,98,97
9,Andorra,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,Angola,31,39,-,-,-,-,-,-,63,...,24,15,-,-,-,-,-,-,-,-
11,Anguilla,14,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
12,Antigua and Barbuda,14,4,4,1,1,2,14,12,-,...,-,-,-,-,-,-,-,-,-,-
13,Argentina,2,2,-,-,0,0,15,7,91,...,46,53,76,71,46,56,48,31,99,100
14,Armenia,52,50,9,9,11,9,16,4,99,...,69,79,-,-,-,55,-,50,-,-
15,Australia,13,14,0,0,2,3,10,6,-,...,-,-,94,70,-,64,80,78,-,-
16,Austria,0,0,0,0,1,0,10,9,-,...,-,-,-,-,98,-,76,79,-,-
17,Azerbaijan,32,19,10,7,0,0,0,0,-,...,-,-,-,-,81,-,-,-,-,-
18,Bahamas,-,-,-,-,23,21,29,24,-,...,-,-,-,-,-,-,-,-,-,-
19,Bahrain,31,28,2,3,7,0,18,6,-,...,-,-,69,40,-,-,-,39,100,99
20,Bangladesh,-,-,-,-,-,-,41,36,76,...,32,27,47,34,44,32,54,57,94,96
21,Barbados,6,10,1,2,7,3,7,3,99,...,91,97,-,-,-,-,-,-,-,-
22,Belarus,0,4,1,2,1,1,6,4,100,...,91,94,-,-,-,-,77,71,100,100
23,Belgium,3,2,1,0,1,1,1,2,-,...,-,-,-,-,-,-,79,80,-,-
24,Belize,18,16,1,1,9,11,38,35,95,...,48,51,-,-,-,-,-,-,-,-
25,Benin,15,16,3,10,27,43,46,66,51,...,12,5,9,34,23,11,-,-,70,52
26,Bhutan,58,59,5,2,18,6,33,22,67,...,25,18,-,-,-,-,56,-,-,-

In [7]:
worldEd.fillna('', inplace=True)
worldEd.head(25)

,TABLE 11. EDUCATION,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 25,Unnamed: 27,Unnamed: 29,Unnamed: 31,Unnamed: 33,Unnamed: 35,Unnamed: 37,Unnamed: 39,Unnamed: 41,Unnamed: 43
1,Countries and areas,Equitable access,,,,,,,,Completion,...,,,Learning,,,,,,,
2,,Out-of-school rate\n2013–2019 (R),,,,,,,,Completion rate\n2010–2019 (R),...,,,Learning outcomes\n2013–2019 (R),,,,,,Literacy rate\n2019,
3,,One year before primary entry age,,Primary education,,Lower secondary education,,Upper secondary education,,Primary education,...,Upper secondary education,,Proportion of children in grade 2 or 3 achievi...,,Proportion of children at the end of primary a...,,Proportion of children at the end of lower sec...,,Youth (15–24 years) literacy rate (%),
4,,Male,Female,Male,Female,Male,Female,Male,Female,Male,...,Male,Female,Reading,Math,Reading,Math,Reading,Math,Male,Female
6,Afghanistan,-,-,-,-,-,-,44,69,67,...,32,14,22,25,13,11,-,-,74,56
7,Albania,4,2,6,3,6,1,21,15,94,...,76,80,-,-,-,-,48,58,99,100
8,Algeria,-,-,-,-,-,-,-,-,93,...,22,37,-,-,-,-,21,19,98,97
9,Andorra,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,Angola,31,39,-,-,-,-,-,-,63,...,24,15,-,-,-,-,-,-,-,-
11,Anguilla,14,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
12,Antigua and Barbuda,14,4,4,1,1,2,14,12,-,...,-,-,-,-,-,-,-,-,-,-
13,Argentina,2,2,-,-,0,0,15,7,91,...,46,53,76,71,46,56,48,31,99,100
14,Armenia,52,50,9,9,11,9,16,4,99,...,69,79,-,-,-,55,-,50,-,-
15,Australia,13,14,0,0,2,3,10,6,-,...,-,-,94,70,-,64,80,78,-,-
16,Austria,0,0,0,0,1,0,10,9,-,...,-,-,-,-,98,-,76,79,-,-
17,Azerbaijan,32,19,10,7,0,0,0,0,-,...,-,-,-,-,81,-,-,-,-,-
18,Bahamas,-,-,-,-,23,21,29,24,-,...,-,-,-,-,-,-,-,-,-,-
19,Bahrain,31,28,2,3,7,0,18,6,-,...,-,-,69,40,-,-,-,39,100,99
20,Bangladesh,-,-,-,-,-,-,41,36,76,...,32,27,47,34,44,32,54,57,94,96
21,Barbados,6,10,1,2,7,3,7,3,99,...,91,97,-,-,-,-,-,-,-,-
22,Belarus,0,4,1,2,1,1,6,4,100,...,91,94,-,-,-,-,77,71,100,100
23,Belgium,3,2,1,0,1,1,1,2,-,...,-,-,-,-,-,-,79,80,-,-
24,Belize,18,16,1,1,9,11,38,35,95,...,48,51,-,-,-,-,-,-,-,-
25,Benin,15,16,3,10,27,43,46,66,51,...,12,5,9,34,23,11,-,-,70,52
26,Bhutan,58,59,5,2,18,6,33,22,67,...,25,18,-,-,-,-,56,-,-,-

In [8]:
sowc = pd.read_csv("C:/Users/lien0/Downloads/SOWC-Statistical-tables-ALL-2021-EN.csv")
sowc.head(25)

,TABLE 13. SOCIAL PROTECTION AND EQUITY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Countries and areas,Mothers with newborns receiving cash benefit (...,Proportion of children covered by social prote...,NaN,Distribution of social protection benefits (%)...,NaN,NaN,Share of household income (%)\n2010–2019 (R),NaN,NaN,Gini Coefficient\n2010–2019 (R),Palma Index of income inequality\n2010–2019 (R),VMIR (vast majority income ratio)\n2010–2019 (R),GDP per capita (current US$)\n2010–2019 (R)
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Bottom 40%,Top 20%,Bottom 20%,Bottom 40%,Top 20%,Bottom 20%,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,1.7,0.4,NaN,-,-,-,-,-,-,31.0,-,-,507
6,Albania,-,-,NaN,45.9,13.7,27.6,19.5,40.7,7.5,33.2,1.3,0.8,"5,353"
7,Algeria,11.2,-,NaN,-,-,-,23.1,37.2,9.4,27.6,1.0,0.8,"3,974"
8,Andorra,-,-,NaN,-,-,-,-,-,-,28.0,1.0,-,"40,886"
9,Angola,-,-,NaN,-,-,-,11.5,55.6,3.8,51.3,3.5,0.6,"2,791"
10,Anguilla,73.3,2.0,NaN,-,-,-,-,-,-,-,-,-,-
11,Antigua and Barbuda,37.0,-,NaN,-,-,-,-,-,-,-,-,-,"17,113"
12,Argentina,31.7,79.6,NaN,74.8,5.5,48.6,14.2,47.9,4.7,42.5,2.1,0.7,"9,912"
13,Armenia,61.6,30.2,NaN,58.3,9.1,35.9,22.2,39.1,9.0,34.4,1.4,0.7,"4,623"
14,Australia,100.0,100.0,NaN,-,-,-,19.6,42.1,7.4,32.5,1.3,0.7,"55,057"
15,Austria,100.0,100.0,NaN,-,-,-,20.9,38.7,7.9,27.5,1.0,0.8,"50,122"
16,Azerbaijan,16.0,16.9,NaN,29.0,32.9,17.4,-,-,-,26.6,0.7,0.8,"4,793"
17,Bahamas,46.5,-,NaN,-,-,-,-,-,-,41.4,2.0,-,"34,864"
18,Bahrain,-,56.7,NaN,-,-,-,-,-,-,59.6,-,-,"23,504"
19,Bangladesh,20.9,29.4,NaN,44.4,18.0,24.3,21.0,41.4,8.6,48.3,2.9,0.7,"1,856"
20,Barbados,-,-,NaN,-,-,-,-,-,-,32.0,3.1,-,"18,148"
21,Belarus,100.0,-,NaN,50.4,16.6,27.1,24.3,35.4,10.0,25.2,0.9,0.8,"6,698"
22,Belgium,100.0,100.0,NaN,-,-,-,23.2,36.4,8.9,25.1,0.9,0.8,"46,345"
23,Belize,19.9,3.0,NaN,-,-,-,-,-,-,53.3,3.9,0.5,"4,815"
24,Benin,41.0,11.6,NaN,-,-,-,12.8,52.1,3.2,47.8,2.9,0.6,"1,219"

In [9]:
soxc = sowc.dropna(axis='columns', how = 'all')
sowc = sowc.dropna(axis='rows', how = 'all')
sowc.head(25)

,TABLE 13. SOCIAL PROTECTION AND EQUITY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,Countries and areas,Mothers with newborns receiving cash benefit (...,Proportion of children covered by social prote...,NaN,Distribution of social protection benefits (%)...,NaN,NaN,Share of household income (%)\n2010–2019 (R),NaN,NaN,Gini Coefficient\n2010–2019 (R),Palma Index of income inequality\n2010–2019 (R),VMIR (vast majority income ratio)\n2010–2019 (R),GDP per capita (current US$)\n2010–2019 (R)
3,NaN,NaN,NaN,NaN,Bottom 40%,Top 20%,Bottom 20%,Bottom 40%,Top 20%,Bottom 20%,NaN,NaN,NaN,NaN
5,Afghanistan,1.7,0.4,NaN,-,-,-,-,-,-,31.0,-,-,507
6,Albania,-,-,NaN,45.9,13.7,27.6,19.5,40.7,7.5,33.2,1.3,0.8,"5,353"
7,Algeria,11.2,-,NaN,-,-,-,23.1,37.2,9.4,27.6,1.0,0.8,"3,974"
8,Andorra,-,-,NaN,-,-,-,-,-,-,28.0,1.0,-,"40,886"
9,Angola,-,-,NaN,-,-,-,11.5,55.6,3.8,51.3,3.5,0.6,"2,791"
10,Anguilla,73.3,2.0,NaN,-,-,-,-,-,-,-,-,-,-
11,Antigua and Barbuda,37.0,-,NaN,-,-,-,-,-,-,-,-,-,"17,113"
12,Argentina,31.7,79.6,NaN,74.8,5.5,48.6,14.2,47.9,4.7,42.5,2.1,0.7,"9,912"
13,Armenia,61.6,30.2,NaN,58.3,9.1,35.9,22.2,39.1,9.0,34.4,1.4,0.7,"4,623"
14,Australia,100.0,100.0,NaN,-,-,-,19.6,42.1,7.4,32.5,1.3,0.7,"55,057"
15,Austria,100.0,100.0,NaN,-,-,-,20.9,38.7,7.9,27.5,1.0,0.8,"50,122"
16,Azerbaijan,16.0,16.9,NaN,29.0,32.9,17.4,-,-,-,26.6,0.7,0.8,"4,793"
17,Bahamas,46.5,-,NaN,-,-,-,-,-,-,41.4,2.0,-,"34,864"
18,Bahrain,-,56.7,NaN,-,-,-,-,-,-,59.6,-,-,"23,504"
19,Bangladesh,20.9,29.4,NaN,44.4,18.0,24.3,21.0,41.4,8.6,48.3,2.9,0.7,"1,856"
20,Barbados,-,-,NaN,-,-,-,-,-,-,32.0,3.1,-,"18,148"
21,Belarus,100.0,-,NaN,50.4,16.6,27.1,24.3,35.4,10.0,25.2,0.9,0.8,"6,698"
22,Belgium,100.0,100.0,NaN,-,-,-,23.2,36.4,8.9,25.1,0.9,0.8,"46,345"
23,Belize,19.9,3.0,NaN,-,-,-,-,-,-,53.3,3.9,0.5,"4,815"
24,Benin,41.0,11.6,NaN,-,-,-,12.8,52.1,3.2,47.8,2.9,0.6,"1,219"
25,Bhutan,10.4,13.5,NaN,-,-,-,17.5,44.4,6.7,37.4,1.6,0.7,"3,316"
26,Bolivia (Plurinational State of),59.3,66.2,NaN,42.7,24.5,25.1,15.4,47.3,5.1,43.0,2.2,0.6,"3,552"
27,Bosnia and Herzegovina,100.0,-,NaN,36.5,24.7,16.5,19.8,40.7,7.5,33.0,1.3,0.7,"6,109"

In [10]:
sowc.fillna('', inplace=True)
sowc.head(25)

,TABLE 13. SOCIAL PROTECTION AND EQUITY,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
1,Countries and areas,Mothers with newborns receiving cash benefit (...,Proportion of children covered by social prote...,,Distribution of social protection benefits (%)...,,,Share of household income (%)\n2010–2019 (R),,,Gini Coefficient\n2010–2019 (R),Palma Index of income inequality\n2010–2019 (R),VMIR (vast majority income ratio)\n2010–2019 (R),GDP per capita (current US$)\n2010–2019 (R)
3,,,,,Bottom 40%,Top 20%,Bottom 20%,Bottom 40%,Top 20%,Bottom 20%,,,,
5,Afghanistan,1.7,0.4,,-,-,-,-,-,-,31.0,-,-,507
6,Albania,-,-,,45.9,13.7,27.6,19.5,40.7,7.5,33.2,1.3,0.8,"5,353"
7,Algeria,11.2,-,,-,-,-,23.1,37.2,9.4,27.6,1.0,0.8,"3,974"
8,Andorra,-,-,,-,-,-,-,-,-,28.0,1.0,-,"40,886"
9,Angola,-,-,,-,-,-,11.5,55.6,3.8,51.3,3.5,0.6,"2,791"
10,Anguilla,73.3,2.0,,-,-,-,-,-,-,-,-,-,-
11,Antigua and Barbuda,37.0,-,,-,-,-,-,-,-,-,-,-,"17,113"
12,Argentina,31.7,79.6,,74.8,5.5,48.6,14.2,47.9,4.7,42.5,2.1,0.7,"9,912"
13,Armenia,61.6,30.2,,58.3,9.1,35.9,22.2,39.1,9.0,34.4,1.4,0.7,"4,623"
14,Australia,100.0,100.0,,-,-,-,19.6,42.1,7.4,32.5,1.3,0.7,"55,057"
15,Austria,100.0,100.0,,-,-,-,20.9,38.7,7.9,27.5,1.0,0.8,"50,122"
16,Azerbaijan,16.0,16.9,,29.0,32.9,17.4,-,-,-,26.6,0.7,0.8,"4,793"
17,Bahamas,46.5,-,,-,-,-,-,-,-,41.4,2.0,-,"34,864"
18,Bahrain,-,56.7,,-,-,-,-,-,-,59.6,-,-,"23,504"
19,Bangladesh,20.9,29.4,,44.4,18.0,24.3,21.0,41.4,8.6,48.3,2.9,0.7,"1,856"
20,Barbados,-,-,,-,-,-,-,-,-,32.0,3.1,-,"18,148"
21,Belarus,100.0,-,,50.4,16.6,27.1,24.3,35.4,10.0,25.2,0.9,0.8,"6,698"
22,Belgium,100.0,100.0,,-,-,-,23.2,36.4,8.9,25.1,0.9,0.8,"46,345"
23,Belize,19.9,3.0,,-,-,-,-,-,-,53.3,3.9,0.5,"4,815"
24,Benin,41.0,11.6,,-,-,-,12.8,52.1,3.2,47.8,2.9,0.6,"1,219"
25,Bhutan,10.4,13.5,,-,-,-,17.5,44.4,6.7,37.4,1.6,0.7,"3,316"
26,Bolivia (Plurinational State of),59.3,66.2,,42.7,24.5,25.1,15.4,47.3,5.1,43.0,2.2,0.6,"3,552"
27,Bosnia and Herzegovina,100.0,-,,36.5,24.7,16.5,19.8,40.7,7.5,33.0,1.3,0.7,"6,109"

In [22]:
adolescent = pd.read_csv("C:/Users/lien0/Downloads/Table-5-Adolescent-Health-SOWC2021-EN.csv")
adolescent.head(20)

,TABLE 5. ADOLESCENT HEALTH,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Countries and areas,Adolescent mortality rate\n2019,NaN,Adolescent deaths\n2019,NaN,Annual rate of reduction in the adolescent mor...,NaN,Adolescent birth rate\n2015–2020 (R),NaN,Births by age 18 (%)\n2015–2020 (R),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Aged 10−19,NaN,Aged 10−19,NaN,Aged 10-19,NaN,Aged 15-19,NaN,(women aged 20-24 years who gave birth before ...,...,NaN,NaN,Tobacco use\n2015–2019 (R),NaN,NaN,NaN,Insufficient physical activity among school go...,NaN,NaN,NaN
3,NaN,Total,NaN,Total,NaN,Total,NaN,Female,NaN,Female,...,Female,NaN,Male,NaN,Female,NaN,Male,NaN,Female,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,15,NaN,"14,329",NaN,-0.9,NaN,62,NaN,20,...,0,NaN,10,x,6,x,88,NaN,88,NaN
6,Albania,3,NaN,105,NaN,3.3,NaN,14,NaN,3,...,24,NaN,15,NaN,7,NaN,68,NaN,81,NaN
7,Algeria,4,NaN,"2,751",NaN,2.2,NaN,12,NaN,1,...,1,NaN,17,x,3,x,76,NaN,91,NaN
8,Andorra,2,NaN,1,NaN,3.4,NaN,3,NaN,-,...,51,NaN,-,NaN,-,NaN,-,NaN,-,NaN
9,Angola,19,NaN,"13,944",NaN,3.6,NaN,163,x,38,...,21,NaN,-,NaN,-,NaN,-,NaN,-,NaN
10,Anguilla,-,NaN,-,NaN,-,NaN,40,x,-,...,-,NaN,-,NaN,-,NaN,-,NaN,-,NaN
11,Antigua and Barbuda,3,NaN,5,NaN,3.0,NaN,28,NaN,-,...,22,NaN,8,NaN,7,NaN,74,NaN,85,NaN
12,Argentina,4,NaN,"3,152",NaN,1.1,NaN,50,NaN,12,...,40,NaN,19,NaN,21,NaN,80,NaN,90,NaN
13,Armenia,3,NaN,104,NaN,-0.2,NaN,19,NaN,1,...,9,NaN,11,x,4,x,73,NaN,83,NaN
14,Australia,2,NaN,576,NaN,3.0,NaN,9,NaN,-,...,57,NaN,-,NaN,-,NaN,87,NaN,91,NaN
15,Austria,2,NaN,148,NaN,3.8,NaN,6,NaN,-,...,56,NaN,-,NaN,-,NaN,71,NaN,85,NaN
16,Azerbaijan,4,NaN,524,NaN,1.9,NaN,48,NaN,4,...,7,NaN,13,NaN,3,NaN,-,NaN,-,NaN
17,Bahamas,6,NaN,40,NaN,0.5,NaN,29,x,-,...,18,NaN,16,x,8,x,81,NaN,88,NaN
18,Bahrain,3,NaN,49,NaN,2.0,NaN,13,NaN,-,...,2,NaN,27,NaN,10,NaN,75,NaN,87,NaN
19,Bangladesh,10,NaN,"30,330",NaN,-0.2,NaN,74,NaN,24,...,1,NaN,13,x,2,x,63,NaN,69,NaN

In [23]:
adolescent = adolescent.dropna(axis='columns', how = 'all')
adolescent = adolescent.dropna(axis='rows', how = 'all')
adolescent.head(25)

,TABLE 5. ADOLESCENT HEALTH,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 16,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 29
1,Countries and areas,Adolescent mortality rate\n2019,Adolescent deaths\n2019,Annual rate of reduction in the adolescent mor...,Adolescent birth rate\n2015–2020 (R),NaN,Births by age 18 (%)\n2015–2020 (R),NaN,Demand for family planning satisfied with mode...,NaN,...,NaN,Girls vaccinated against HPV (%)\n2020,Risk factors (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Aged 10−19,Aged 10−19,Aged 10-19,Aged 15-19,NaN,(women aged 20-24 years who gave birth before ...,NaN,Aged 15-19,NaN,...,NaN,NaN,Alcohol use\n2016,NaN,Tobacco use\n2015–2019 (R),NaN,NaN,NaN,Insufficient physical activity among school go...,NaN
3,NaN,Total,Total,Total,Female,NaN,Female,NaN,Female,NaN,...,NaN,Female,Male,Female,Male,NaN,Female,NaN,Male,Female
5,Afghanistan,15,"14,329",-0.9,62,NaN,20,NaN,21,NaN,...,NaN,-,1,0,10,x,6,x,88,88
6,Albania,3,105,3.3,14,NaN,3,NaN,6,NaN,...,NaN,-,51,24,15,NaN,7,NaN,68,81
7,Algeria,4,"2,751",2.2,12,NaN,1,NaN,68,x,...,NaN,-,2,1,17,x,3,x,76,91
8,Andorra,2,1,3.4,3,NaN,-,NaN,-,NaN,...,NaN,77,77,51,-,NaN,-,NaN,-,-
9,Angola,19,"13,944",3.6,163,x,38,NaN,15,NaN,...,NaN,-,46,21,-,NaN,-,NaN,-,-
10,Anguilla,-,-,-,40,x,-,NaN,-,NaN,...,NaN,-,-,-,-,NaN,-,NaN,-,-
11,Antigua and Barbuda,3,5,3.0,28,NaN,-,NaN,-,NaN,...,NaN,-,48,22,8,NaN,7,NaN,74,85
12,Argentina,4,"3,152",1.1,50,NaN,12,x,-,NaN,...,NaN,45,68,40,19,NaN,21,NaN,80,90
13,Armenia,3,104,-0.2,19,NaN,1,NaN,7,x,...,NaN,-,24,9,11,x,4,x,73,83
14,Australia,2,576,3.0,9,NaN,-,NaN,-,NaN,...,NaN,66,81,57,-,NaN,-,NaN,87,91
15,Austria,2,148,3.8,6,NaN,-,NaN,-,NaN,...,NaN,-,80,56,-,NaN,-,NaN,71,85
16,Azerbaijan,4,524,1.9,48,NaN,4,x,13,x,...,x,-,18,7,13,NaN,3,NaN,-,-
17,Bahamas,6,40,0.5,29,x,-,NaN,-,NaN,...,NaN,-,41,18,16,x,8,x,81,88
18,Bahrain,3,49,2.0,13,NaN,-,NaN,-,NaN,...,NaN,-,5,2,27,NaN,10,NaN,75,87
19,Bangladesh,10,"30,330",-0.2,74,NaN,24,NaN,71,NaN,...,NaN,-,2,1,13,x,2,x,63,69
20,Barbados,3,13,1.8,50,x,7,x,56,x,...,NaN,7,50,24,17,x,11,x,77,87
21,Belarus,2,189,5.1,12,NaN,3,x,66,x,...,x,-,66,49,10,NaN,10,NaN,-,-
22,Belgium,1,188,4.3,6,NaN,-,NaN,-,NaN,...,NaN,-,79,53,-,NaN,-,NaN,79,88
23,Belize,5,44,2.2,58,NaN,17,NaN,47,NaN,...,NaN,11,38,16,17,x,8,x,76,84
24,Benin,18,"4,910",0.6,108,NaN,19,NaN,13,NaN,...,NaN,-,22,8,7,NaN,2,NaN,71,81
25,Bhutan,10,142,1.8,59,x,15,x,52,x,...,x,81,24,9,31,NaN,14,NaN,83,85
26,Bolivia (Plurinational State of),6,"1,472",3.2,71,NaN,20,x,34,x,...,NaN,24,43,19,14,NaN,8,NaN,82,89

In [24]:
adolescent.drop(adolescent.columns[[5, 7, 9, ]], axis = 1, inplace = True)
adolescent.head(20)

,TABLE 5. ADOLESCENT HEALTH,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 29
1,Countries and areas,Adolescent mortality rate\n2019,Adolescent deaths\n2019,Annual rate of reduction in the adolescent mor...,Adolescent birth rate\n2015–2020 (R),Births by age 18 (%)\n2015–2020 (R),Demand for family planning satisfied with mode...,Antenatal care (%)\n2015–2020 (R),NaN,Skilled birth attendant (%)\n2015–2020 (R),NaN,Girls vaccinated against HPV (%)\n2020,Risk factors (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Aged 10−19,Aged 10−19,Aged 10-19,Aged 15-19,(women aged 20-24 years who gave birth before ...,Aged 15-19,Aged 15-19,NaN,Aged 15-19,NaN,NaN,Alcohol use\n2016,NaN,Tobacco use\n2015–2019 (R),NaN,NaN,NaN,Insufficient physical activity among school go...,NaN
3,NaN,Total,Total,Total,Female,Female,Female,Female,NaN,Female,NaN,Female,Male,Female,Male,NaN,Female,NaN,Male,Female
5,Afghanistan,15,"14,329",-0.9,62,20,21,19,NaN,58,NaN,-,1,0,10,x,6,x,88,88
6,Albania,3,105,3.3,14,3,6,72,NaN,100,NaN,-,51,24,15,NaN,7,NaN,68,81
7,Algeria,4,"2,751",2.2,12,1,68,69,NaN,97,NaN,-,2,1,17,x,3,x,76,91
8,Andorra,2,1,3.4,3,-,-,-,NaN,-,NaN,77,77,51,-,NaN,-,NaN,-,-
9,Angola,19,"13,944",3.6,163,38,15,56,NaN,50,NaN,-,46,21,-,NaN,-,NaN,-,-
10,Anguilla,-,-,-,40,-,-,-,NaN,-,NaN,-,-,-,-,NaN,-,NaN,-,-
11,Antigua and Barbuda,3,5,3.0,28,-,-,-,NaN,-,NaN,-,48,22,8,NaN,7,NaN,74,85
12,Argentina,4,"3,152",1.1,50,12,-,85,x,-,NaN,45,68,40,19,NaN,21,NaN,80,90
13,Armenia,3,104,-0.2,19,1,7,93,NaN,100,NaN,-,24,9,11,x,4,x,73,83
14,Australia,2,576,3.0,9,-,-,-,NaN,-,NaN,66,81,57,-,NaN,-,NaN,87,91
15,Austria,2,148,3.8,6,-,-,-,NaN,-,NaN,-,80,56,-,NaN,-,NaN,71,85
16,Azerbaijan,4,524,1.9,48,4,13,40,x,99,x,-,18,7,13,NaN,3,NaN,-,-
17,Bahamas,6,40,0.5,29,-,-,-,NaN,-,NaN,-,41,18,16,x,8,x,81,88
18,Bahrain,3,49,2.0,13,-,-,-,NaN,-,NaN,-,5,2,27,NaN,10,NaN,75,87
19,Bangladesh,10,"30,330",-0.2,74,24,71,35,NaN,62,NaN,-,2,1,13,x,2,x,63,69
20,Barbados,3,13,1.8,50,7,56,-,NaN,-,NaN,7,50,24,17,x,11,x,77,87
21,Belarus,2,189,5.1,12,3,66,95,x,100,x,-,66,49,10,NaN,10,NaN,-,-

In [25]:
adolescent.drop(adolescent.columns[[8]], axis = 1, inplace = True)
adolescent.head()

,TABLE 5. ADOLESCENT HEALTH,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 29
1,Countries and areas,Adolescent mortality rate\n2019,Adolescent deaths\n2019,Annual rate of reduction in the adolescent mor...,Adolescent birth rate\n2015–2020 (R),Births by age 18 (%)\n2015–2020 (R),Demand for family planning satisfied with mode...,Antenatal care (%)\n2015–2020 (R),Skilled birth attendant (%)\n2015–2020 (R),NaN,Girls vaccinated against HPV (%)\n2020,Risk factors (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Aged 10−19,Aged 10−19,Aged 10-19,Aged 15-19,(women aged 20-24 years who gave birth before ...,Aged 15-19,Aged 15-19,Aged 15-19,NaN,NaN,Alcohol use\n2016,NaN,Tobacco use\n2015–2019 (R),NaN,NaN,NaN,Insufficient physical activity among school go...,NaN
3,NaN,Total,Total,Total,Female,Female,Female,Female,Female,NaN,Female,Male,Female,Male,NaN,Female,NaN,Male,Female
5,Afghanistan,15,"14,329",-0.9,62,20,21,19,58,NaN,-,1,0,10,x,6,x,88,88
6,Albania,3,105,3.3,14,3,6,72,100,NaN,-,51,24,15,NaN,7,NaN,68,81

In [26]:
adolescent.drop(adolescent.columns[[9]], axis = 1, inplace = True)
adolescent.head()

,TABLE 5. ADOLESCENT HEALTH,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 29
1,Countries and areas,Adolescent mortality rate\n2019,Adolescent deaths\n2019,Annual rate of reduction in the adolescent mor...,Adolescent birth rate\n2015–2020 (R),Births by age 18 (%)\n2015–2020 (R),Demand for family planning satisfied with mode...,Antenatal care (%)\n2015–2020 (R),Skilled birth attendant (%)\n2015–2020 (R),Girls vaccinated against HPV (%)\n2020,Risk factors (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Aged 10−19,Aged 10−19,Aged 10-19,Aged 15-19,(women aged 20-24 years who gave birth before ...,Aged 15-19,Aged 15-19,Aged 15-19,NaN,Alcohol use\n2016,NaN,Tobacco use\n2015–2019 (R),NaN,NaN,NaN,Insufficient physical activity among school go...,NaN
3,NaN,Total,Total,Total,Female,Female,Female,Female,Female,Female,Male,Female,Male,NaN,Female,NaN,Male,Female
5,Afghanistan,15,"14,329",-0.9,62,20,21,19,58,-,1,0,10,x,6,x,88,88
6,Albania,3,105,3.3,14,3,6,72,100,-,51,24,15,NaN,7,NaN,68,81

In [27]:
adolescent.fillna('', inplace=True)
adolescent.head(25)

,TABLE 5. ADOLESCENT HEALTH,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 29
1,Countries and areas,Adolescent mortality rate\n2019,Adolescent deaths\n2019,Annual rate of reduction in the adolescent mor...,Adolescent birth rate\n2015–2020 (R),Births by age 18 (%)\n2015–2020 (R),Demand for family planning satisfied with mode...,Antenatal care (%)\n2015–2020 (R),Skilled birth attendant (%)\n2015–2020 (R),Girls vaccinated against HPV (%)\n2020,Risk factors (%),,,,,,,
2,,Aged 10−19,Aged 10−19,Aged 10-19,Aged 15-19,(women aged 20-24 years who gave birth before ...,Aged 15-19,Aged 15-19,Aged 15-19,,Alcohol use\n2016,,Tobacco use\n2015–2019 (R),,,,Insufficient physical activity among school go...,
3,,Total,Total,Total,Female,Female,Female,Female,Female,Female,Male,Female,Male,,Female,,Male,Female
5,Afghanistan,15,"14,329",-0.9,62,20,21,19,58,-,1,0,10,x,6,x,88,88
6,Albania,3,105,3.3,14,3,6,72,100,-,51,24,15,,7,,68,81
7,Algeria,4,"2,751",2.2,12,1,68,69,97,-,2,1,17,x,3,x,76,91
8,Andorra,2,1,3.4,3,-,-,-,-,77,77,51,-,,-,,-,-
9,Angola,19,"13,944",3.6,163,38,15,56,50,-,46,21,-,,-,,-,-
10,Anguilla,-,-,-,40,-,-,-,-,-,-,-,-,,-,,-,-
11,Antigua and Barbuda,3,5,3.0,28,-,-,-,-,-,48,22,8,,7,,74,85
12,Argentina,4,"3,152",1.1,50,12,-,85,-,45,68,40,19,,21,,80,90
13,Armenia,3,104,-0.2,19,1,7,93,100,-,24,9,11,x,4,x,73,83
14,Australia,2,576,3.0,9,-,-,-,-,66,81,57,-,,-,,87,91
15,Austria,2,148,3.8,6,-,-,-,-,-,80,56,-,,-,,71,85
16,Azerbaijan,4,524,1.9,48,4,13,40,99,-,18,7,13,,3,,-,-
17,Bahamas,6,40,0.5,29,-,-,-,-,-,41,18,16,x,8,x,81,88
18,Bahrain,3,49,2.0,13,-,-,-,-,-,5,2,27,,10,,75,87
19,Bangladesh,10,"30,330",-0.2,74,24,71,35,62,-,2,1,13,x,2,x,63,69
20,Barbados,3,13,1.8,50,7,56,-,-,7,50,24,17,x,11,x,77,87
21,Belarus,2,189,5.1,12,3,66,95,100,-,66,49,10,,10,,-,-
22,Belgium,1,188,4.3,6,-,-,-,-,-,79,53,-,,-,,79,88
23,Belize,5,44,2.2,58,17,47,92,97,11,38,16,17,x,8,x,76,84
24,Benin,18,"4,910",0.6,108,19,13,47,78,-,22,8,7,,2,,71,81
25,Bhutan,10,142,1.8,59,15,52,66,40,81,24,9,31,,14,,83,85
26,Bolivia (Plurinational State of),6,"1,472",3.2,71,20,34,81,90,24,43,19,14,,8,,82,89